/* Reset HTML */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #fff;
}

/* font family */
@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Poppins/Poppins-Medium.ttf);
}

/* Common */
.container {
    max-width: 1140px;
    margin: auto;
}

.col-md-3 {
    
}

/* Web */

#main {
    top: 0;
    left: 0;
    right: 0;
}

#header {

}

/* Header Top */
#header .header-top {
    height: 72px;
    background-color: #222;
}

.header-top .header-info {
    display: flex;
}

.header-top .location-info {
    display: flex;
    margin-top: 20px;
    margin-right: 22px;
}

.header-info .locate-icon {
    color: rgb(12, 168, 201);
    border: 1px solid #0ca8c9;
    height: 16px;
    padding: 7px;
}

.header-top .text-addr {
    margin-left: 10px;
    font-size: 12px;
    line-height: 1.5;
    margin-top: -2px;
    letter-spacing: 0.15px;
}

.header-top .poppinsmd-font {
    font-family: Poppins;
    color: #b0b0b0;
}

.header-top .poppinsrgl-font {
    font-family: Poppins;
    color: #f0f0f0;
}

.header-top .flex-end{
    align-self: self-start;
    margin-left: auto;
    margin-right: 0;
    margin-top: 28px;
}

.header-top .location-region {
    display: flex;
}

.header-top .usa-img {
    width: 16px;
    height: 13px;
}

.header-top .language {
    font-size: 12px;
    font-family: "Poppins";
    color: rgb(186, 186, 186);
    margin-left: 10px;
    margin-right: 32px;
    letter-spacing: 0.4px;
}

.header-top .angle-down {
    color: #bababa;
    font-size: 9px;
}

/* Header mid */
#header .header-mid {
    height: 99px;
}

.header-mid .header-category {
    display: flex;
}

.header-mid .header-logo {
    margin-top: 26px;
}

.header-mid .category {
    display: flex;
    align-self: self-start;
    margin-left: auto;
    margin-right: 1px;
    margin-top: 34px;
}

.header-mid .cate-search {
    display: flex;
}

.header-mid .option {
    display: flex;
    margin-top: -5px;
    border: 1px solid #ebebeb;
    padding-right: 37px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.header-mid .cate-opt {
    font-size: 12px;
    font-family: "Poppins";
    color: rgb(143, 143, 143);
    padding: 0 20px;
    line-height: 35px;
}

.header-mid .sort-down {
    font-size: 12px;
    color: rgb(143, 143, 143);
    line-height: 32px;
}

.header-mid .search-opt {
    margin-top: -5px;
    width: 300px;
    padding: 0 20px;
    border: 1px solid #ebebeb;
    border-right-width: unset;
    font-size: 12px;
    font-family: "Poppins";
    color: rgb(143, 143, 143);
}

.header-mid .search-opt::placeholder {
    font-size: 12px;
    font-family: "Poppins";
    color: rgb(143, 143, 143);
}

.cate-search .cate-icon {
    margin-top: -5px;
    margin-right: 9px;
    padding: 0 13px;
    background-color: #20acca;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.cate-search .cate-icon a {
    font-size: 18px;
}

.cate-search .search-icon {
    color: rgb(255, 255, 255);
    float: left;
    margin-top: 10px;
}

.header-mid .cate-icon {
    font-size: 30px;
}

.header-mid .cate-icon a {
    text-decoration: none;
    color: rgb(12, 168, 201);
    margin-left: 10px;
}

/* Header bottom */
#header .header-bot {
    height: 50px;
    background-color: rgb(12, 168, 201);
}

.header-bot .header-menu {
    display: flex;
    line-height: 50px;
    font-size: 14px;
    font-family: "Poppins";
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.header-bot .menu-cate {
    display: flex;
}

.header-bot .bars-icon {
    font-size: 30px;
    line-height: 50px;
    color: #fff;
    margin-right: 20px;
}

.header-bot .menu-cate-text {
    text-transform: uppercase;
}

.header-bot .bars-icon:hover {
    cursor: pointer;
}

.header-bot .bars-icon:active {
    background-color: #fff;
    color: rgb(12, 168, 201);
}

.header-bot .menu-cate-text:hover {
    cursor: pointer;
}

.header-bot .menu-cate-text:active {
    background-color: #fff;
    color: rgb(12, 168, 201);
}

.header-bot .menu-bar {
    display: flex;
    align-self: self-start;
    margin-left: auto;
    margin-right: -29px;
}

.header-bot .header-menu li {
    list-style-type: none;
    margin: 0 29px;;
}

.header-bot .header-menu li:hover {
    cursor: pointer;
}

.header-bot .header-menu li:active {
    background-color: #fff;
    color: rgb(12, 168, 201);
}

/* Slider */
#slider {
    height: 750px;
    background: url('/assets/img/images/slider-img.jpg') top center / cover no-repeat;
}

#slider .slider-text {
    font-family: "Poppins";
    font-size: 33px;
    padding-top: 213px;
    font-weight: bold;
    letter-spacing: 4px;
}

.slider-text .color-blue {
    color: #0ca8c9;
}

.slider-text .text-item {
    margin-top: -10px;
}

.slider-text .text-item p{
    font-family: "Poppins";
    color: #8f8f8f;
    font-size: 16px;
    margin-top: 23px;
    letter-spacing: 1.3px;
}

.slider-text .text-inline h1{
    display: inline;
}

.slider-text .text-item a{
    text-decoration: none;
    box-shadow: 0 3px #0ca8c9;
    padding: 5px 0;
    color: black;
}

.slider-text .btn-shop {
    font-family: "Poppins";
    font-size: 15px;
    margin-top: 48px;
    letter-spacing: 1.2px;
}